body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5abc9;
  color: grey;
}

img {
  display: block;
  width: 100%;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 5rem 0;
}

.image {
  margin-bottom: 2rem;
}

