body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5abc9;
  color: grey;
}

img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 30rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 5rem 0;
}

.image {
  margin-bottom: 2rem;
}

.tabs{
  background: #ffe5e2;
  border-radius: 0.5rem;
  grid-template-rows: auto 1fr;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.button:nth-child(3) {
  border-top-right-radius: 0.5rem;
}



