body {
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: darkcyan;
  margin: 0;
}

.container {
  background: rgba (255, 255, 255, 0.3);

}